@import "tailwindcss";

@theme {
  --font-playfair: 'Playfair Display Variable', system-ui, Avenir, Helvetica, Arial, san-serif;
  --font-roboto: 'Roboto Variable', system-ui, Avenir, Helvetica, Arial, san-serif;
}

@layer base {
  :root {
    --font-playfair: 'Playfair Display Variable', system-ui, Avenir, Helvetica, Arial, sans-serif;
    --font-roboto: 'Roboto Variable', system-ui, Avenir, Helvetica, Arial, sans-serif;
  }

  * {
    margin: 0;
    box-sizing: border-box;
  }

  html {
    font-size: 14px;
  }

  body {
    font-family: "Open Sans", sans-serif;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  input {
    font-size: inherit;
  }
}
